.name{
    font-size: 1.5rem;
    font-weight: 600;
    color: #555F6E;
    margin-left: 1rem;
}

nav{
    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #E1EAF5;
    padding: 0.2rem 1rem ;
}